* {
    margin: 0 auto;
    text-align: center;
}

form {
    padding: 1rem;
}

form input {
    margin: auto 1rem;
}

#URL {
    width: 20rem;
}

#Gallery-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 2rem;
    text-align: center;
}

#Gallery-container img {
    width: 20vw;
}

